<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5">
    <div class="shadow p-5 mb-5 rounded">
        <form action="/alterarCategoria/<%- listarCategoria[0].id_categoria %>" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Alterar Categoria</label>
                <input type="text" class="form-control" value="<%- listarCategoria[0].nome_categoria %>" placeholder="Categoria" name="nome" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="/categoria">Voltar</a>
                <button class="btn btn-primary" type="submit">Alterar Categoria</button>
            </div>
        </form>
    </div>
</div>

<%- include('../includes/footer') -%>