<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5 mt-5 shadow-sm">
    <p class="fw-bold fs-2 mb-4">Alterar Categoria</p>
        <form action="/alterarCategoria/<%- listarCategoria[0].id_categoria %>" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome Categoria</label>
                <input type="text" class="form-control" value="<%- listarCategoria[0].nome_categoria %>" placeholder="Categoria" name="nome" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning" href="/categoria">Voltar</a>
                <button class="btn btn-success" type="submit">Alterar Categoria</button>
            </div>
        </form>
    </div>

<%- include('../includes/footer') -%>