<%- include('../includes/header') -%>
<%- include('../includes/navbar') -%>
<div class="container-sm p-5 mt-5 shadow-sm">
    <p class="fw-bold fs-2 mb-4">Alterar Leitor</p>
        <form action="/alterarLeitor/<%- listarLeitor[0].id_leitor %>" method="POST">
            <div class="mb-3">
                <input type="hidden" class="form-control" placeholder="João dos Santos" name="usuario" value="<%- listarLeitor[0].id_usuario %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control" placeholder="João dos Santos" name="nome" value="<%- listarLeitor[0].nome_leitor %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Data Nascimento</label>
                <input type="date" class="form-control" name="data" value="<%- listarLeitor[0].data_nascimento %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CPF</label>
                <input type="text" class="form-control" name="cpf" value="<%- listarLeitor[0].cpf %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="email@email.com" value="<%- listarLeitor[0].email %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="text" class="form-control" name="telefone" placeholder="(085)91234-5678" value="<%- listarLeitor[0].telefone %>" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Senha</label>
                <input type="text" class="form-control" name="senha" placeholder="**********" value="<%- listarLeitor[0].senha %>" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-warning" href="/leitor">Voltar</a>
                <button class="btn btn-success" type="submit">Alterar Leitor</button>
            </div>
        </form>
</div>

<%- include('../includes/footer') -%>